#log-in-row {
  display: flex;
  background-color: blue;
  height: 80px;
  justify-content: space-between;
  padding: 10px;
}

form.log-in {
  display: flex;
  align-self: center;
  border: solid black;
  padding: 20px;
}
#log-in-row-2 {
  display: flex;
  flex-direction: row;
}
.facebook-logo {
  display: flex;
  width: 60px;
  height: 20px;
  margin: 10px;
  padding: 20px;
  align-self: auto;
  flex-grow: 2;
  /* align-self: center; */
  border: solid gold;
}
.sign-up {
  display: flex;
  width: 60px;
  height: 20px;
  margin: 10px;
  padding: 20px;
  align-self: auto;
  flex-grow: 2;
  /* align-self: center; */

  border: solid silver;
}
h5.username {
  display: inline-block;
  /* text-align: right; */
  padding-right: 10px;
  /* align-self: flex-end; */
  /* float: left; */
  /* padding: 20px; */
  border: solid purple;
}
h5.password {
  display: inline-block;
  padding-left: 10px;
  /* text-align: right; */
  /* align-self: flex-end; */
  /* float: left; */
  /* padding: 20px; */
  border: solid coral;
}
#log-in-password {
  display: flex;
}
#facebook-col {
  display: flex;
}
#log-into-facebook-here-row {
  display: flex;
  background-color: red;
  height: 40vw;
}
#different-languages-row {
  display: flex;
  background-color: darkgreen;
  height: 40vw;
}
