#log-in-row {
  display: flex;
  background-color: blue;
  height: 80px;
  justify-content: space-between;
}
#log-in-row-2 {
  display: flex;
  flex-direction: row;
}
.facebook-logo {
  display: flex;
  width: 60px;
  height: 20px;
}
.sign-up {
  display: flex;
  width: 60px;
  height: 20px;
}
#log-in-password {
  display: flex;
}
#facebook-col {
  display: flex;
}
#log-into-facebook-here-row {
  display: flex;
  background-color: red;
  height: 40vw;
}
#different-languages-row {
  display: flex;
  background-color: darkgreen;
  height: 40vw;
}
