#log-in-row {
  display: flex;
  background-color: #3b5998;
  height: 80px;
  justify-content: space-between;
  padding: 8px;
}
/* #log-in-email-and-password-col {
  display: flex;
  justify-content: flex-start;
  border: solid green;
} */

div.log-in {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-self: flex-end;
  align-items: flex-end; */
  border: solid black;
  padding: 3px;
  margin: 1px;
}
form.main-log-in {
  display: flex;
  border: solid gold;
  /* align-items: stretch; */
  align-items: center;
  align-self: center;
  /* align-self: flex-start; */
  margin: 10px;
  padding: 10px;
}
#log-in-row-2 {
  display: flex;
  flex-direction: row;
}
.facebook-logo {
  display: flex;
  width: 185px;
  height: 65px;
  margin: 4px;
  padding-top: 6px;
  padding: 22px;
  align-self: center;
  /* flex-grow: 2; */
  /* align-self: center; */
  border: solid gold;
}
.sign-up {
  display: flex;
  width: 85px;
  height: 45px;
  margin: 4px;
  padding: 14px;
  align-self: center;
  /* flex-grow: 4; */
  /* align-self: center; */
  border: solid silver;
}
h5.username {
  /* display: flex; */
  display: inline-block;
  /* text-align: right; */
  padding-right: 6px;
  /* align-self: flex-end; */
  /* float: left; */
  /* padding: 20px; */
  border: solid purple;
}
h5.password {
  display: inline-block;
  padding-left: 6px;
  /* text-align: right; */
  /* align-self: flex-end; */
  /* float: left; */
  /* padding: 20px; */
  border: solid coral;
}
#log-in-password {
  display: flex;
}
#facebook-col {
  display: flex;
}
#log-into-facebook-here-row {
  display: flex;
  /* justify-content: space-between; */
  align-content: space-evenly;
  flex-flow: column wrap;
  flex-wrap: wrap;
  background-color: lightslategray;
  height: 40vw;
}
#different-languages-row {
  display: flex;
  background-color: darkgreen;
  height: 40vw;
}
h3.log-in-facebook {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  align-self: center;
  border: solid blue;
}
/* .forgotten-password-button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  border: solid purple;
}
.create-new-account {
  display: flex;
  align-items: center;
  align-self: flex-end;
  border: solid aqua;
}
.password-sec {
  display: flex;
  align-items: center;
  align-self: flex-end;
  border: solid grey;
}
.email-sec {
  display: flex;
  align-items: center;
  align-self: flex-end;
  border: solid yellow;
}
.log-in-sec {
  display: flex;
  align-items: center;
  align-self: flex-end;
  border: solid pink;
} */
#log-in-email-and-password-col {
  display: flex;
  align-items: center;
}
